
a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
  color: orange;
  text-decoration: underline;
  background-color: #f0f0f0;
}

a:active {
  color: red;
  background-color: yellow;
}
